<nav class="nav-bar">
    <ul class="nav-list">
      <li><a id="index" href="index.html" class="nav-link">Home</a></li>
      <li><a id="guide" href="guide.html" class="nav-link">Implementation Guide</a></li>
      <li><a id="yaml_file" href="yaml_file.html" class="nav-link">YAML File</a></li>
      <li><a id="xml_file" href="xml_file.html" class="nav-link">Example Delivery</a></li>
      <li><a id="news" href="news.html" class="nav-link">News and Updates</a></li>
      <li><a id="contacts" href="contacts.html" class="nav-link">Contacts</a></li>
    <!-- <li><a id="faq" href="faq.html" class="nav-link">FAQs</a></li> -->
    </ul>
</nav>