<nav class="nav-bar">
    <ul class="nav-list">
      <li><a id="index" href="index.html" class="nav-link">Home</a></li>
      <li><a id="ech-0252-about-model27" href="ech-0252-about-model27.html" class="nav-link">Model27</a></li>
      <li><a id="ech-0252-guide" href="ech-0252-guide.html" class="nav-link">Implementation Guide</a></li>
      <li><a id="ech-0252-yaml" href="ech-0252-yaml.html" class="nav-link">YAML File</a></li>
      <li><a id="ech-0252-example" href="ech-0252-example.html" class="nav-link">Example Delivery</a></li>
      <li><a id="ech-0252-news" href="ech-0252-news.html" class="nav-link">News and Update</a></li>
      <li><a id="ech-0252-faq" href="ech-0252-faq.html" class="nav-link">FAQs</a></li>
    </ul>
</nav>